/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2016, 4:55:09 PM
    Author     : Anicet
*/

/*
**Mobile
*
*/
@media screen and (max-width :600px){
body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Pontano Sans', sans-serif !important;
    align-content: center;
  
}

#myInjuryResult{
    width: 100%;
    padding-bottom: 30%;
}

#infoDiv{
    background-image: url('../images/athletic.JPG');
    width: 100%;
    height:95%;
}


#headerWord{
    font-size: medium;
}

#headerDetails{
    font-size: x-small;
}

.modal{
    top: 40%;
    left: 40%;
    align-content: center;
}

button{
    color: black !important;
}

#diseaseInfo{
  margin-top: 7%; 
  
}

.pageText{
    margin-top: 15px;
}

.myBackground{
    background-image: url('../images/outside.jpg') !important;
    margin-top: 150px;
    padding-left: 2px;
}

.alternateBack{
    background-image: url('../images/smiling.jpeg') !important;
    margin-top: 150px;
    padding-left: 2px; 
}
.blackLink{
    color: black !important;
    text-decoration: none;
}

.blank{
    margin-top: 50px;
    margin-bottom:95%;
    padding-left: 2px;
    color: black !important;
}

#runner{
    margin: 2%;
}

#contactBody{
    background-image: url('../images/jumpman.jpg') !important;
    background-repeat: no-repeat  !important;
    width:100%;
    margin-top: 100px;
    padding-top: 30px;
   
}

#diagnosticBody{
    background-repeat: no-repeat  !important;
    display:flex;
}

#myNav{
    margin-bottom: 5%;
}





#bodyPart{
    margin-top: 30%;
    display: flex;
    flex-wrap: wrap;
    color: black !important;
}

#wrapper{
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat  !important; 
}

#navigationLink{
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;  
    color: darkblue;
   
}



#navigationLink a{
    color: black;
    font-weight: bold;
}





.mainImage{
    width: 100%;
    height: auto;
}

  
    




#searchSection
{
  z-index: 1;
  justify-content: center;
  align-items: center; 
  top: 32%;
  height: auto; 
  color: whitesmoke;
  text-align:center; 
  width: 100%;
  align-content: center;
  padding-top: 40%;
}


#siteMenu
{
    position: fixed;
    top: 5%;
    left:5%;
    justify-content: center;
    z-index: 100;
    order: 1;
    font-size: x-small;
}

#inlineNav {
    display: none;
}

.nav navbar-nav > li
{
  margin-left: 5%;
  margin-right: 5%;
  color: black;
}

.white{
    color: whitesmoke;
}


#contactPage
{
    margin-left: 5%;
    margin-top: 7%;
}

.aboutImage
{
    height: auto;
    width:  100%;
}

button{
    color: black !important;
}

#imageTrail
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
   
}

.footer {
    font-size: x-small; 
    font-style: italic;
    color: black; 
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom:2%;
    bottom:0;
  
}

textarea{
    width: 100%;
}

#Contact{
    color: black !important;
}


}


/*
*
*
* PC display
*
*/

@media screen and (min-width: 601px){
  body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Pontano Sans', sans-serif !important;
}

#myInjuryResult{
    width: 100%;
    padding-bottom: 30%;
}


#infoDiv{
    background-image: url('../images/box.jpeg');
    background-repeat:no-repeat;
    width: 100%;
    height:auto;
}



.blackLink{
    color: black;
}

#headerWord{
    font-size: large;
    margin-bottom: 20px;
}

#headerDetails{
    font-size: medium;
}

.blank{
    margin-top: 75px;
    padding-left: 2px;
    justify-content: center;
    color: black !important;
    margin-bottom:25%;
}


.diseaseSection{
    width: 100%;
}


.pageText{
    margin-top: 30px;
}


#contactBody{
    background-image: url('../images/jumpman.jpg') !important;
    background-repeat: no-repeat  !important;
    width:100%;
    margin-top: 50px;
    padding-top: 30px;
   
}

.myBackground{
    width: 100%;
    height: 20%;
    margin-top: 150px;
    background-image: url('../images/outside.jpg') !important;
    padding-left: 1%;
}

.alternateBack{
   width: 100%;
    height: 20%;
    margin-top: 150px;
    background-image: url('../images/smiling.jpeg') !important;
    padding-left: 1%; 
}



#runner{
    margin: 2%;
}

#navigationLink a{
    color: black;
    font-weight: bold;
}





.mainImage{
    width: 100%;
    height: auto;
}

 

  


#searchSection
{
  z-index: 1;
  justify-content: center;
  align-items: center; 
  height: auto;  
  color: whitesmoke;
  text-align:center; 
  width: 100%;
  align-content: center;
  padding-top: 25%;
 
}



button{
    color: black !important;
}

#Contact{
    color: black !important;
}


#siteMenu
{
  display: none;
}

#inlineNav{
    background-color: white;
}

.nav navbar-nav > li
{
  margin-left: 5%;
  margin-right: 5%;
  color: white;
}

.modal fade{
    top: 40%;
    left: 40%;
}



#myNav{
    margin-bottom: 1%;
    width: 100%;
}

.white{
    color: whitesmoke;
}



#myMessage{
    margin-top: 5%;
    margin-left: 1%;
}



#bodyPart{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: black;
      margin-bottom: 50px;
   padding-bottom: 10px;

}

#wrapper{
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat  !important; 
}

#navigationLink{
    margin-top: 4%;
    width: 100%;  
    color: darkblue;
}



#contactPage
{
  width: 100%;
  padding-left: 2%;
  
}

.aboutImage
{
    height: auto;
    width:  18%;
}

#imageTrail
{
   display: flex;
   justify-content: center;
   margin-top: 5%;
   min-width: 100%;  
}

 
  .footer {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  margin-bottom: 0;
  color: darkblue;
}
 
 
 textarea{
    width: 60%;
}

h5{
  width: 100%;
  height: auto;
}


#aboutUsNote{
    margin-bottom: 10%;
}



}

