/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2016, 4:55:09 PM
    Author     : Anicet
*/

/*
**Mobile
*
*/
@media screen and (max-width :600px){
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Pontano Sans', sans-serif !important;
    align-content: center;
  
}


.carousel-inner .item img
{  
    height: auto;
    width: 100%;
}

.mainImage{
    width: 100%;
    height: auto;
}

  .carousel img {
      top: 0;
      left: 0;
      width: 100%;
    }
    
  
    
    #myCarousel{
        z-index: -1
    }



#searchSection
{
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  transform: translate(30%, 25%); 
  align-items: center; 
  justify-content: center;
  order: 2;
  top: 15%;
  
  
}

.carousel-caption{
    text-align:center; 
    align-items: flex-start;
}

#siteMenu
{
    position: fixed;
    top: 0;
    left:5%;
    justify-content: center;
    z-index: 1;
    order: 1;
    font-size: x-small;
}

.nav navbar-nav > li
{
  margin-left: 5%;
  margin-right: 5%;
  color: black;
}



#contactPage
{
    margin-left: 25px;
}

.aboutImage
{
    height: 183px;
    width:  250px;
}

#imageTrail
{
   display: inline-block;
   margin-top: 20px;
   margin-left: 30px;
   margin-right: 10px;
   min-width: 100%;  
   clear: right;
}

.footer {
   width:100%;
   height:auto;   /* Height of the footer */
   text-align: center;
   justify-content: center; 
}
}


/*
*
*
* PC display
*
*/

@media screen and (min-width: 601px){
  body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.carousel-inner .item img
{
    
    height: 100%;
    width: 100%;
}

.mainImage{
    width: 100%;
    height: auto;
}

  .carousel img {
      top: 0;
      left: 0;
      width: 100%;
    }



#searchSection
{
	top: 300px;	
}

#siteMenu
{
	top: 10px;
	left: 20px;
	
}

.nav navbar-nav > li
{
  margin-left: 5%;
  margin-right: 5%;
  color: black;
}



#contactPage
{
    margin-left: 25px;
}

.aboutImage
{
    height: 183px;
    width:  250px;
}

#imageTrail
{
   display: inline-block;
   margin-top: 20px;
   margin-left: 30px;
   margin-right: 10px;
   min-width: 100%;  
   clear: right;
}

.footer {
  
   width:100%;
   height:60px;   /* Height of the footer */
   text-align: center;
  clear: both;
  bottom: 5px; 
  padding-left:10%; 
  padding-right: 10%;
  padding-top: 50px;
  
}  
}

